body{
	background-color:grey;
	color:black;

	font-family: Arial, Helvetica, sans-serif;
	font-size:16px;
	font-weight:normal;
	/* Same as above */
	font: normal 16px Arial, Helvetica, sans-serif;

	line-height:1.6em;
	margin:0;
}

.container{
	width: 85%;
	margin:auto;
}

.box-1{
	background-color:white;
	color:black;

	border: 5px black solid;
	border-width:3px;

	padding:20px;
	margin:10px;
}

.box-1 h1{
	font-family:Tahoma;
	text-decoration:underline;
}

.box-2{
	background-color:White;
	color:black;
	padding:0px;	
	margin:0px 0;
}

.Interest in IT{
	font-size:16px;
}